@model PostIndexViewModel
@{
    ViewBag.Title = "Home - Latest Activity";
}

<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="mb-3 col-lg-5 col-sm-10 mx-auto">
            <div class="card">
                <div class="card-body py-3">
                    <a class="card-title h4" asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id">@post.Title</a>
                    <h6 class="card-subtitle mt-1">Posted by <a asp-controller="User" asp-action="Details" asp-route-id="@post.User.Name">@post.User.Name</a> on @post.CreationDate</h6>
                    <hr />
                    @post.Summary
                </div>
                <div class="card-footer">
                    @foreach (var keyword in Model.PostKeywords.Include(pk => pk.Keyword)
                                                           .Where(pk => pk.PostId == post.Id)
                                                           .Select(pk => pk.Keyword)
                                                           .ToList())
                    {
                        <a class="badge-pill badge-primary" asp-controller="Blog" asp-action="Index" asp-route-searchKeywordString="@keyword.Text">@keyword.Text</a>
                    }
                </div>
            </div>
        </div>
    }
</div>