<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project AMANDA - @ViewBag.Title</title>

    <environment include="Development">
        <script src="~/lib/jquery/jquery-3.3.1.slim.min.js" asp-fallback-src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="~/lib/popper/popper.min.js" asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-fallback-href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-fallback-src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-fallback-href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </environment>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark position-sticky sticky-top">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/images/LogoMd.png" class="mr-2" />
            ProjectAMANDA
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills mx-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link lead px-2 @(ViewBag.Title.StartsWith("Home") ? "active" : "")">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Blog" asp-action="Index" class="nav-link lead px-2 @(ViewBag.Title.StartsWith("Blog") ? "active" : "")">Blogs</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Index" class="nav-link lead px-2 @(ViewBag.Title.StartsWith("User") ? "active" : "")">Users</a>
                </li>
            </ul>

            <form method="get" class="form-inline ml-3" asp-controller="Blog" asp-action="Find">
                <input class="form-control" placeholder="Search posts by keywords" type="text" />
                <button class="btn btn-secondary ml-1" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        @if (TempData.ContainsKey("NotificationMessage"))
        {
            <div class="alert @(TempData.ContainsKey("NotificationType") ? TempData["NotificationType"] : "")">
                @TempData["NotificationMessage"]
            </div>
        }
        <br />

        @RenderBody()
    </div>
</body>
</html>
