@model PostEnrichViewModel

@{
    ViewBag.Title = $"Blog - Enrichment Options for {Model.Post.Title}";
}

<h1 class="text-center">Please select an image to accompany your blog post</h1>
<h3 class="text-center">Overall post sentiment: @Model.Sentiment</h3>
@if (!string.IsNullOrWhiteSpace(Model.SignificantPhrase))
{
    <h3 class="text-center">Most significant phrase: @Model.SignificantPhrase</h3>
}


<div class="row offset-2">
    @foreach (var image in Model.Images)
    {
        <div class="col-xl-5">
            <div class="card mt-3">
                @if (image.Value<float>("sentiment") <= 0f + float.Epsilon)
                {
                    <p class="card-header">Keyword Match</p>
                }
                else
                {
                    <p class="card-header">Sentiment Match</p>
                }
                <form method="post" asp-action="Enrich">
                    <input hidden asp-for="SelectedImageHref" value="@image["url"]" />
                    <input hidden asp-for="PostId" value="@Model.PostId" />
                    <input type="image" src="@image["url"]" class="card-img-top" />
                </form>
                @if (image.Value<float>("sentiment") > 0f)
                {
                    <div class="card-body pb-0">
                        <dl>
                            <dt>Sentiment</dt>
                            <dd>@image["sentiment"]</dd>
                        </dl>
                    </div>
                }
            </div>
        </div>
    }
</div>

